@media (min-width: 450px) {
  .login-input {
    width: 360px;
    height: 40px;
  }
  .bg-login-card {
    background-color: black;
    opacity: 0.8;
    padding: 30px;
    color: white;
    min-width: 400px;

    text-align: center;
  }
  .bg-login-big {
    background-image: linear-gradient(
        116.64deg,
        rgba(0, 0, 0, 0.8) 0.46%,
        rgba(0, 0, 0, 0.6) 100%
      ),
      url('https://i.imgur.com/WN8YaEH.png');
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .login-button {
    height: 40px;
    width: 85px;
  }
}
.label-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}
.login-input {
  background: #333333;
  border-radius: 2px;
}
.login-button {
  background-color: #e50914;
  border: none;
  color: white;
  border-radius: 10px;
}
.login-error {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #fb923c;
}

@media (max-width: 451px) {
  .moviesLogo {
    height: 70px;
    width: 200px;
  }
  .bg-login-big {
    background-color: black;
    min-width: 100vh;
    min-height: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    padding: 40px;
  }

  .login-input {
    height: 40px;
    width: 296px;
  }
  .login-button {
    height: 40px;
    width: 296px;
  }
}
